@charset 'UTF-8';
@media (min-width: 1200px) {
    
  body {
    overflow-x: hidden;
  }
  
  header {
    padding: 2rem;
  }
  
  #codeTrail {
    font-size: 2rem;
  }

  header h1 {
    font-size: 3.5rem;
    padding: 2rem 0;
  }

  .big {
    font-size: 7rem;
  }

  main h1 {
    font-size: 3rem;
    padding-bottom: 5rem;
  }

  main h2 {
    font-size: 2.5rem;
    padding: 0.5rem 0;
  }

  main h3 {
    font-size: 2rem;
  } 

  main p {
    font-size: 1.3rem;
    text-indent: 5rem;
    line-height: 2rem;
  }

  .context {
    /* Centraliza o main e deixa a página responsiva com a largura por porcentagem. */
    width: 65%; 
    padding: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
  }

  .area {
    background: radial-gradient(circle, #fef357, #f7df1e, #edd418, #dbbf0b, #b99d04); 
    width: 100vw;
    min-height: 100vh;
  } 
}