/* ----------------------------------------- Introdução -------------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Inline */
#inline {
    max-height: 7rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Interno */
#interno {
    max-height: 22rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Externo */
#externo-html {
    max-height: 18rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Externo */
#externo-css {
    max-height: 17rem;
}
/* Ajustando a largura da imagem no article Comentários */
#comentario {
    max-height: 12rem;
}
/* Ajustando a largura da imagem no article Comentários */
#comentario2 {
    max-height: 11rem;
}
/* Ajustando a largura da imagem no article Sintaxe */
#sintaxe {
    max-height: 10rem;
}
/* Ajustando a largura da imagem no article Sintaxe */
#sintaxe-exemplo {
    max-height: 17rem;
}

/* Lista interna da lista do article Formulário Simples */
.sintaxe {
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    list-style: none;
    line-height: 2.5rem;
}
.sintaxe li::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #4299e1;
    transform: rotate(45deg);
    margin-right: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* _____________________________________________________________________________________________________ */




/* ---------------------------------------- Seletores ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Estilizando a lista ordenada no article Especificidade de Seletores */
.especificidade {
    counter-reset: item;
    list-style: none;
    padding: 0;
    margin: 1rem;
}
.especificidade li {
    font-size: 1.2rem;
    counter-increment: item;
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    background: #f0f0f0;
    border-left: 5px solid #0ea93f;
    position: relative;
}
.especificidade li::before {
    content: counter(item) ".";
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #0ea93f;
    font-size: 1.3rem;
}
/* _____________________________________________________________________________________________________ */




/* ---------------------------------- Propriedade de Texto ----------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem nos respectivos articles */
#color, #font-family, #font-weight {
    max-height: 14rem;
}
/* Ajustando a largura da imagem no article font-size */
#font-size {
    max-height: 17rem;
}
/* Ajustando a largura da imagem no article line-height */
#line-height {
    max-height: 12rem;
}
/* Ajustando a largura da imagem nos respectivos articles */
#text-align, #text-transform {
    max-height: 13rem;
}
/* Ajustando a largura da imagem no article text-decoration */
#text-decoration {
    max-height: 15rem;
}
/* Ajustando a largura da imagem nos respectivos articles */
#letter-spacing, #word-spacing, #text-indent {
    max-height: 11rem;
}
/* _____________________________________________________________________________________________________ */





/* --------------------------------------- Cores e Unidades ---------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a formatação da estrutura css */
.estrutura {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    color: #ddd;
}
.container {
    background-color: #000;
    max-width: 50%;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 3px 5px 10px rgb(68, 68, 68, 0.7);
}
/* Cor dos seletores */
.seletores {
    color: #dc6a73;
}
/* Cor das propriedades */
.pro {
    color: #0098e3;
}
/* Cor dos valores */
.valor {
    color: #c59160;
}
/* Cor dos segundos valores */
.valor2 {
    color: #ed9098;
}
/* Cor dos comentários */
.coments {
    color: #565c68;
}
/* Deixando responsivo a formatação da estrutura css */
@media (max-width: 768px) {
    .container {
        max-width: 70%; 
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 100%; 
    }
}
/* _____________________________________________________________________________________________________ */




/* ------------------------------------- Caixa de Modelo ------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem no article Box Model */
#boxModel {
    max-height: 20rem;
}
/* Ajustando a largura da imagem no article box-sizing */
#boxSizing {
    max-height: 25rem;
}
/* Ajustando a largura da imagem no article box-sizing na section border-box */
#global {
    max-height: 13rem;
}
/* _____________________________________________________________________________________________________ */





/* ----------------------------------------- Bordas e Fundos --------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem no article Border na section border-style */
#bordas {
    max-height: 22rem;
}
/* Ajustando a largura da imagem no article Border-radius */
#radius {
    max-height: 25rem;
}
/* Ajustando a largura da imagem no article Background na section short hand */
#background {
    max-height: 10rem;
}
/* _____________________________________________________________________________________________________ */












/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


