/* -------------------------------------- Componentes Gerais --------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Lista não ordenada */
.unordered {
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    list-style: none;
    line-height: 2.5rem;
}
.unordered li::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #4299e1;
    transform: rotate(45deg);
    margin-right: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Lista ordenada */
.order {
    counter-reset: item;
    list-style: none;
    padding: 0;
    margin: 1rem;
}
.order li {
    font-size: 1.2rem;
    counter-increment: item;
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    background: #f0f0f0;
    border-left: 5px solid #0ea93f;
    position: relative;
}
.order li::before {
    content: counter(item) ".";
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #0ea93f;
    font-size: 1.3rem;
}

/* Exemplos aplicados */
/* Div - Fundo das caixas de exemplo */
.container {
    background-color: #111;
    border-radius: 12px;
    padding: 1rem 0.3rem 1rem 1rem;
    margin: 1rem 0;
    box-shadow: 3px 5px 10px rgb(68, 68, 68, 0.7);
}
/* Tamanho diversos */
.tamanho1 {
    max-width: 30%;
}
.tamanho2 {
    max-width: 40%;
}
.tamanho3 {
    max-width: 50%;
}
.tamanho4 {
    max-width: 55%;
}
/* Ajuste de fonte */
.estrutura {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    color: #ddd;
}
/* Cor dos seletores */
.seletores {
    color: #dc6a73;
}
/* Cor das propriedades */
.pro {
    color: #0098e3;
}
/* Cor dos valores */
.valor {
    color: #c59160;
}
/* Cor dos segundos valores */
.valor2 {
    color: #ed9098;
}
/* Cor dos segundos valores */
.valor3 {
    color: #95bf77;
}
/* Cor dos comentários */
.coments {
    color: #565c68;
}
/* Responsividade dos exemplos aplicados */
@media (max-width: 1200px) {
    .tamanho1 {
        max-width: 50%;
    }
    .tamanho2 {
        max-width: 60%;
    }
    .tamanho3 {
        max-width: 75%;
    }
    .tamanho4 {
        max-width: 80%;
    }
}
@media (max-width: 768px) {
    .tamanho1 {
        max-width: 50%;
    }
    .tamanho2 {
        max-width: 60%;
    }
    .tamanho3 {
        max-width: 75%;
    }
    .tamanho4 {
        max-width: 90%;
    }
}
@media (max-width: 480px) {
    .tamanho1 {
        max-width: 90%;
    }
    .tamanho2 {
        max-width: 100%;
    }
    .tamanho3 {
        max-width: 100%;
    }
    .tamanho4 {
        max-width: 100%;
    }
}
/* _____________________________________________________________________________________________________ */


/* ----------------------------------------- Introdução -------------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Inline */
#inline {
    max-height: 7rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Interno */
#interno {
    max-height: 22rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar na section CSS Externo */
#externo-html {
    max-height: 18rem;
}
/* Ajustando a largura da imagem no article Formas de Aplicar e Sintaxe */
#externo-css, #sintaxe-exemplo {
    max-height: 17rem;
}
/* Ajustando a largura da imagem no article Comentários */
#comentario {
    max-height: 12rem;
}
/* Ajustando a largura da imagem nos articles Comentários e Sintaxe */
#comentario2, #sintaxe {
    max-height: 11rem;
}
/* _____________________________________________________________________________________________________ */


/* ---------------------------------------- Seletores ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* _____________________________________________________________________________________________________ */


/* ---------------------------------- Propriedade de Texto ----------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem nos respectivos articles */
#color, #font-family, #font-weight {
    max-height: 14rem;
}
/* Ajustando a largura da imagem no article font-size */
#font-size {
    max-height: 17rem;
}
/* Ajustando a largura da imagem no article line-height */
#line-height {
    max-height: 12rem;
}
/* Ajustando a largura da imagem nos respectivos articles */
#text-align, #text-transform {
    max-height: 13rem;
}
/* Ajustando a largura da imagem no article text-decoration */
#text-decoration {
    max-height: 15rem;
}
/* Ajustando a largura da imagem nos respectivos articles */
#letter-spacing, #word-spacing, #text-indent {
    max-height: 11rem;
}
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Cores e Unidades ---------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* ------------------------------------- Caixa de Modelo ------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem no article Box Model */
#boxModel {
    max-height: 20rem;
}
/* Ajustando a largura da imagem no article box-sizing */
#boxSizing {
    max-height: 25rem;
}
/* Ajustando a largura da imagem no article box-sizing na section border-box */
#global {
    max-height: 13rem;
}
/* _____________________________________________________________________________________________________ */


/* ----------------------------------------- Bordas e Fundos --------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem no article Border na section border-style */
#bordas {
    max-height: 22rem;
}
/* Ajustando a largura da imagem no article Border-radius */
#radius {
    max-height: 25rem;
}
/* Ajustando a largura da imagem no article Background na section short hand */
#background {
    max-height: 10rem;
}
/* _____________________________________________________________________________________________________ */


/* ----------------------------------------- Display ----------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
.comparacao {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.4;
    color: #0098e3;
    text-shadow: 1px 2px 5px rgb(68, 68, 68, 0.5);
}
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Position  e Z-index ------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem no article Position */
#static,  #relative, #fixed, #absolute, #absolute2, #sticky, #sticky2{
    max-height: 22rem;
}
/* Ajustando a largura da imagem no article Z-index */
#z-index{
    max-height: 20rem;
}
/* Ajustando a largura da imagem no article Z-index */
#z-index2{
    max-height: 28rem;
}
/* _____________________________________________________________________________________________________ */


/* ----------------------------------------- FlexBox ----------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura da imagem nos articles Flex-Direction e Exemplo Real */
#eixos, #exemploFlexBox1{
    max-height: 23rem;
}
/* Ajustando a largura da imagem nos articles Flex-Wrap, Justify-Content e Align-Self */
#wrap, #justSpaces, #justColumn, #alignSelf{
    max-height: 27rem;
}
/* Ajustando a largura da imagem nos articles Justify-Content e Align-Items */
#justStart, #justEnd, #justCenter, #justBetween, #justEvenly, #justAround, #itemStretch, #itemStart, #itemEnd, #itemCenter{
    max-height: 20rem;
}
/* Ajustando a largura da imagem no article Align-Content */
#contentStretch, #contentStart, #contentEnd, #contentCenter, #contentBetween, #contentEvenly, #contentAround{
    max-height: 25rem;
}
/* Ajustando a largura da imagem no article Exemplo Real */
#exemploFlexBox2{
    max-height: 15rem;
}
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________ */


