@media print{
    
    body{
        overflow-x: hidden;;
        background-color: #fff;
        font-family: 'Inter', sans-serif;        
    }

    header h1 {
        color: #333;
        text-shadow: none;
    }

    #codeTrail {
    display: none;
    }

    main h1, main h2 {
        color: #333;
        text-shadow: none;
    }

    #top {
        display: none;
    }

    #btnTopo {
        display: none;
    }

    .material-symbols-outlined {
        display: none;
    }
}