@charset 'UTF-8';

@font-face {
    font-family: 'Audiowide';
    src: url(../../font/Audiowide-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../../font/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Carter';
    src: url(../../font/CarterOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bangers';
    src: url(../../font/Bangers-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron';
    src: url(../../font/Orbitron-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
    /* Centralização do conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas.background {
    display: none;
}

.logo {
    /* Position absolute para o conteúdo não acompanhar a centralização e ficar fixo */
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0.7;
}

header h1 {
    text-align: center;
    font-family: 'Audiowide';
    /* Degradê no fundo que depois é passado para o título e deixa o fundo transparente */
    background: linear-gradient(90deg, #007bff, #00ff88, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.cards-container {
    padding-bottom: 3rem;
}

.card {
    /* Dispaly Grid para deixar o conteúdo centralizado no card  */
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.8);
    /* Parte da animação que deixa o texto em 3d */
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: background 0.3s ease, transform 0.3s ease;
}

.text3d {
    /* mantém os spans na linha, normal */
    display: inline; 
    /* Parte da animação que deixa o texto em 3d */
    transform: translateZ(5rem);
    transition: transform 0.2s ease;
}

/* Cores diferentes para cada tecnologia */
.card.html {
    background: radial-gradient(circle, #e34f26, #de4d25, #c14320, #a6391a, #832c14);
    font-weight: 900;
}
.card.css { 
    background: radial-gradient(circle, #66bfff, #4299e1, #1572b6, #105a91, #0a3d66);
    font-weight: 900;
}
.card.js { 
    background: radial-gradient(circle, #fef357, #f7df1e, #edd418, #dbbf0b, #b99d04); 
    color: #333333;
}
.card.ts { 
    background: radial-gradient(circle, #3178c6, #2c6db3, #235489, #193d64);
}
.card.about {
    background: radial-gradient(circle, #00ff88, #00eb7d, #00be65, #01a458, #008a4a);
    font-weight:700;
}

.bold {
    font-weight: 900;
}

.html {
    font-family: 'Carter';
}

.css {
    font-family: 'Bangers';
}

.about {
    font-family: 'Orbitron';
}

.html, .css, .ts, .about {
    text-shadow: 3px 3px 6px #333;
}

.js {
    text-shadow: 1px 2px 4px #444444c4;
}

/* Animação de saida da página */
.zoomOut { animation-name: zoomOut }
@keyframes zoomOut {
    to {
        transform: scale(10);
        opacity: 0;
    }
}