@charset 'UTF-8';
@media (min-width: 1199px) {

    body{
        background: #b6ebff;
    }  
    
    canvas.background {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1; /* Deixa a animação em uma camada abaixo */
        pointer-events: none;
    }
    
    .logo {  
        width: 6rem;
    }

    header {
        margin: 2rem 0;
        font-size: 5.5rem;
    }

    main {
        width: 100%;
        /* position relative faz com que o conteúdo fique a frente da animação */
        position: relative;
        z-index: 1;
        padding: 3rem 6rem;
        /* Dispaly Grid para dividir a viewport em três frações, ou seja, deixar três cards por linha */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card {
        height: 18rem;
        font-size: 2rem;  
    }
    
    .big {
        font-size: 8rem;
    }

    .type{
        font-size: 5rem;
    }

    .html, .css {
        font-size: 5.5rem;
    }
    
    .about {
        font-size: 4rem;
    }
}