@charset 'UTF-8';
@media (min-width: 1199px) {

    body{
        background: #b6ebff;
    }  
    
    canvas.background {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1; /* Deixa a animação em uma camada abaixo */
        pointer-events: none;
    }
    
    .logo {  
        width: 5rem;
    }

    header {
        margin: 2rem 0;
        font-size: 3.5rem;
    }

    main {
        /* A largura dos cadrs é controla pelo padding e não por um valor fixo */
        width: 100%;
        padding: 0 12rem;
        /* position relative faz com que o conteúdo fique a frente da animação */
        position: relative;
        z-index: 1;
        /* Dispaly Grid para dividir a viewport em três frações, ou seja, deixar três cards por linha */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }

    .card {
        height: 12rem;
        font-size: 2.5rem;       
    }

    .big {
        font-size: 6rem;
    }

    .type{
        font-size: 4rem;
    }

    .html {
        font-size: 5rem;
    }

    .css {
        font-size: 6rem;
    }

    .about {
        font-size: 3.5rem;
    } 
}