@media (min-width: 1200px) {
    body{
        background: #b6ebff;
    }  
    
    canvas.background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }
    
    .logo {  
        width: 6rem;
    }

    header {
        margin: 2rem 0;
        font-size: 5.5rem;
    }

    main {
        position: relative;
        z-index: 1;
        padding: 0 14rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card {
        height: 18rem;
        font-size: 3.5rem;   
        position: relative; 
    }

    .html, .css, .about {
        font-size: 5.5rem;
    }
}