@charset 'UTF-8';
@media (min-width: 1px) and (max-width:480px) { 

    body {
        padding-bottom: 1rem;
        /* overflow-x: hidden; ajuda a não ter a barra de rolagem lateral */
        overflow-x: hidden;
        background: #000 url(../../img/home/bgMobile.webp);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    canvas.background {
        display: none;
    }

    .logo {        
        width: 3rem;
    }

    header{
        margin: 3.5rem 0;
        font-size: 2rem;      
    }
    
    main {
        /* A largura dos cadrs é controla pelo padding e não por um valor fixo */
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem;
        /* Dispaly Grid para dividir a viewport em uma fração, ou seja, deixar um card por linha */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .card {
        height: 8rem;
        font-size: 2rem;       
    }

    .big {
        font-size: 4rem;
    }

    .type{
        font-size: 3rem;
    }

    .html {
        font-size: 3rem;
    }

    .css {
        font-size: 4rem;
    }

    .about {
        font-size: 2.5rem;
    }    
}

@media (min-width: 380px) and (max-width: 480px) {
    main {
        padding: 0 5rem;
    }
} 