@charset 'UTF-8';
@media (max-width:480px) { 
   
    body {
        padding-bottom: 1rem;
        overflow-x: hidden;
        background: #000 url(../../img/index/back-mobile.webp);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .logo {        
        width: 3rem;
    }

    header{
        margin: 5rem auto;
        text-align: center;
        font-size: 2rem;      
    }
    
    main {
        margin: 0 auto;
        padding: 0 3rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .card {
        height: 8rem;
        font-size: 2.5rem;       
    }

    .big {
        font-size: 4rem;
    }

    .type{
        font-size: 3rem;
    }

    .html, .css, .about {
        font-size: 3.5rem;
    }
}