@media print{
    body{
        margin: 0;
        padding: 0;
        background-color: #fff;
        font-family: 'Inter', sans-serif;
    }

    canvas.background {
        display: none;
    }

    .logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        opacity: 0.7;
        width: 5rem;
    }

    header {
        margin: 3rem 0;
    }

    header h1 {
        font-family: 'Audiowide';
        background: linear-gradient(0deg, #fff, #fff, #fff);
        background-clip: text;
        color: #232323;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    main {
        padding: 1rem 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .card {
        height: 10rem;
        font-size: 2.5rem;   
        color: #757575; 
        text-shadow: 0px 0px 1px #757575;
    }

    .big {
        font-size: 4.5rem;
    }

    .type{
        font-size: 4rem;
    }
    
    .html, .css, .about {
        font-size: 4rem;
    }
}