@charset 'UTF-8';
@media (min-width: 768px)and (max-width:1199px) {
    body{
        height: 100dvh;
        padding-bottom: 2rem;
        /* overflow-x: hidden; ajuda a não ter a barra de rolagem lateral */
        overflow-x: hidden;
        background: #000 url(../../img/home/back-small-screen.webp);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    } 

    canvas.background {
        display: none;
    }
    
    .logo {  
        width: 4.5rem;
    }

    header {
        font-size: 4.5rem;
    }

    main {
        width: 100%;
        padding: 0 3rem;
        /* Dispaly Grid para dividir a viewport em duas frações, ou seja, deixar dois cards por linha */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .card {
        height: 14rem;
        font-size: 2.5rem;    
    }
    
    .big {
        font-size: 6rem;
    }

    .type{
        font-size: 5rem;
    }

    .html, .css {
        font-size: 5.5rem;
    }
    
    .about {
        font-size: 4.5rem;
    }
}