@charset 'UTF-8';
@media (min-width: 481px) and (max-width:768px) {

    body{
        padding-bottom: 2rem;
        /* overflow-x: hidden; ajuda a não ter a barra de rolagem lateral */
        overflow-x: hidden;
        background: #000 url(../../img/home/bg-2.png);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    } 

    canvas.background {
        display: none;
    }
    
    .logo {        
        width: 3rem;
    }

    header{
        margin: 3.5rem 0;
        font-size: 2.5rem;      
    }

    main {
        /* A largura dos cadrs é controla pelo padding e não por um valor fixo */
        width: 100%;
        margin: 0 auto;
        padding: 0 8rem;
        /* Dispaly Grid para dividir a viewport em uma fração, ou seja, deixar um card por linha */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .card {
        height: 8rem;
        font-size: 2rem;       
    }

    .big {
        font-size: 4rem;
    }

    .type{
        font-size: 3rem;
    }

    .html {
        font-size: 3.5rem;
    }

    .css {
        font-size: 4.5rem;
    }

    .about {
        font-size: 2.5rem;
    } 
}

@media (min-width: 590px) and (max-width:768px) {
    main {
        /* A largura dos cadrs é controla pelo padding e não por um valor fixo */
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem;
        /* Dispaly Grid para dividir a viewport em uma fração, ou seja, deixar um card por linha */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}