/* ------------------------------------- Estrutura de Texto --------------------------------------------*/
/*_____________________________________________________________________________________________________ */
/* Elemento pre no article Exibindo Código em HTML, na section Pre
Estilizando o elemento para não transpassar a tela na versão mobile */
#pre-example {
  white-space: pre-wrap; /* Mantém a formatação do texto */
  word-break: break-word; /* Quebra palavras longas */
  overflow: auto; /* impede rolagem lateral e vertical */
  width: 13rem;
  padding: 0 1rem;
}

/* Imagem do article Citações Grandes 
Limitando a altura da imagem na versão mobile para deixar proporcional. */
@media (max-width: 768px) {
  #blockcode {
    max-height: 15rem; /* Limita a altura máxima do bloco */
  }  
}
/* _____________________________________________________________________________________________________ */



/* ------------------------------------- Edição de Texto ------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/*Lista do article Time
Estilizando marcadores e padding*/
#datetime-format {
  font-size: 1.2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  list-style: none;
}

#datetime-format li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e34f26;
  transform: rotate(45deg);
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* _____________________________________________________________________________________________________ */



/* ------------------------------------------ Listas ----------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Adicionando padding em todos as listas da página para o conteúdo não ultrapassar o main*/
.extra-padding {
  padding-left: 1.5rem;
}

/*Estilizando os elementos pre em vários articles*/
.pre-example {
  white-space: pre-wrap; /* Mantém a formatação do texto */
  word-break: break-word; /* Quebra palavras longas */
  overflow: hidden;
  width: 15rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 0.8rem;
}

/* Limitando a altura da imagem no article listas dentro de listas para deixar proporcional */
#insideList {
  max-height: 18rem;
}

/* Dando um espaçamento no exemplo  do article listas dentro de listas */
.secondList {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-left: 1rem;
}

/* Limitando a altura da imagem no article listas de definição para deixar proporcional */
#definitionList {
  max-height: 13rem;
}

/* Adicionando padding no exemplo do article lista de definição */
.definition-list {
  font-size: 1.2rem;
  line-height: 2rem;
}
/* _____________________________________________________________________________________________________ */



/* ---------------------------------------- Tabelas -----------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a altura da imagem do article Tabela Simples */
#tabela {
  max-height: 18rem;
}

/* Estilizando a tabela de exemplo do article Tabela Simples */
.table1 {
    width: 250px;
    height: 150px;
    margin-left: 1.5rem;
    border-collapse: collapse;  
    text-align: center;     
}
td, th {
  border: 1px solid black;
  padding: 8px;
  vertical-align: middle;
}

/* Estilizando a lista no article Anatomia */
.anatomia {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  list-style: none;
}
.anatomia li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #888;
  transform: rotate(45deg);
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilizando as listas nos articles Scope e Responsividade */
.scope {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  list-style: none;
}
.scope li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e34f26;
  transform: rotate(45deg);
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Aumentando a font do elemento code nos articles Efeito Zebrado e Fixar Título */
.zebra {
  font-size: 1.2rem;
}

/* Estilizando a tabela de exemplo do article Mesclando Células */
.table2{
  width: 250px;
  height: 150px;
  margin: 2rem 0;
  margin-left: 1.5rem;
  border-collapse: collapse;  
  text-align: center;
}

/* Ajustando a altura da imagem do article Destacar Coluna */
#colgroup {
  max-height: 10rem;
}
/* _____________________________________________________________________________________________________ */




/* --------------------------------------- Formulário ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/*Estilizando o exemplo do formulário*/
fieldset {
  background-color: #f8f8f8;
  padding: 1rem;
}
.legend{
  text-align: center;
}
input{
  margin: 0.5rem 0;
  padding: 0.2rem 0;
}
.btn {
  padding: 0.2rem 0.3rem;
}

/* Lista do article formulário simples */
.formList {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  list-style: none;
}
.formList li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e34f26;
  transform: rotate(45deg);
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Lista interna da lista do article Formulário Simples */
.insideList {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  list-style: none;
}
.insideList li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f89500;
  transform: rotate(45deg);
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Ajustando a altura da imagem do article Formulário Simples */
#form-img {
  max-height: 18rem;
}

/* Ajustando a altura da imagem do article Tipo de inputs na section Tel */
#tel {
  max-height: 7rem;
}

/* Definindo largura e altura para deixar mais evidente a caixa de seleção */
.textArea {
  width: 15rem;
  height: 10rem;
}

/* Ajustando a altura da imagem do article Select */
#select {
  max-height: 20rem;
}

/* Ajustando a altura da imagem do article DataList */
#dataList {
  max-height: 15rem;
}
/* _____________________________________________________________________________________________________ */



/* ------------------------------------------- Imagem ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a altura da imagem do article Img */
#tagImg {
  max-height: 10rem;
}

/* Ajustando a altura da imagem do article Figure */
#figure {
  max-height: 8rem;
}

/* Centraliza a imagem da paisagem nas telas pequenas no article Picture */
@media (max-width: 480px) {
  #paisagem {
    display: block;
    margin: 0 auto; 
  }  
}

/* Ajustando a altura da imagem do article Picture */
#picture {
  max-height: 10rem;
}

/* Ajustando a altura da imagem do article Extra */
#center {
  max-height: 9rem;
}
/* Ajustando a altura da imagem nas telas pequenas no article Extra */
@media (max-width: 768px) {
  #center {
    max-height: 7rem; 
  }
}

/* Ajustando a altura da imagem do article Extra */
#respons {
  max-height: 10rem;
}
/* Ajustando a altura da imagem nas telas pequenas no article Extra */
@media (max-width: 768px) {
  #respons {
    max-height: 8rem; 
  }
}
/* _____________________________________________________________________________________________________ */




/* -------------------------------------------- Audio ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Ajustando a largura do controle de audio no article Audio Simples */
#audio1 {
  max-width: 90%;
}

/* Ajustando o code no article Audio Simples */
.tag2 {
  /* uma fonte mono espaçada*/
  font-family: monospace;
  font-weight: 400;
  color: #222;
  background-color: #eee;
  margin: 0 0.2rem;
  padding: 0.2rem 0.1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 2rem;
}

/* Ajustando a largura do controle de audio no article Audio Simples */
.audio2 {
    max-width: 100%;
    height: 54px;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 30px;
    box-shadow: 
        0 10px 30px rgba(35, 35, 35, 0.3),
        inset 0 2px 10px rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;       /* leve clareamento */
}
/* Estilização do fundo interno (WebKit) */
.audio2::-webkit-media-controls-panel {
    background: linear-gradient(135deg, #e7573b 0%, #cfd947 100%);
}

/* Ajustando a largura do imagem de audio no article Vários Formatos */
#audioImg {
  max-height: 12rem;
}
/* _____________________________________________________________________________________________________ */




/* -------------------------------------------- Video ---------------------------------------------------*/
/* _____________________________________________________________________________________________________ */
/* Deixando o video local responsivo no article Video Local */
.video-responsivo {
  margin: 1.5rem 0;
  width: 100%;
  height: auto;
  max-width: 35rem;
  display: block;
}

/* Ajustando a largura da imagem no article Video Local */
#videoImg {
  max-height: 14rem;
}

/* Estilizando a lista no article Video Remoto */
.videoSteps a {
  text-decoration: none;
  color: #e34f26;
}
.videoSteps a:visited {
  color: #e34f26;
}
.videoSteps {
  counter-reset: item;
  list-style: none;
  padding: 0;
  margin: 1rem;
}
.videoSteps li {
  counter-increment: item;
  margin-bottom: 1rem;
  padding: 10px 15px;
  background: #f0f0f0;
  border-left: 5px solid #e34f26;
  position: relative;
}
.videoSteps li::before {
  content: counter(item) ".";
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: #e34f26;
  font-size: 1.3rem;
}

/* Deixando o video remoto responsivo no article Video Remoto */
.youtube-container {
  margin: 1.5rem 0;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 35rem;
  overflow: hidden;
  position: relative;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/* Ajustando a largura da imagem no article Video Remoto */
#youtubeImg {
  max-height: 16rem;
}
/* _____________________________________________________________________________________________________ */






/* ------------------------------------- Estrutura de texto ---------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* _____________________________________________________________________________________________________ */

/* ------------------------------------- Estrutura de texto ---------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* _____________________________________________________________________________________________________ */

/* ------------------------------------- Estrutura de texto ---------------------------------------------*/
/* _____________________________________________________________________________________________________ */

/* _____________________________________________________________________________________________________ */




