@charset 'UTF-8';

@font-face {
    font-family: 'Inter';
    src: url(../../../font/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'carter';
    src: url(../../../font/CarterOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Audiowide';
    src: url(../../../font/Audiowide-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;    
}

header {
    position: relative;
    z-index: 3;
}

/* Posicionamento do menu nas telas grandes */
.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#side-menu{
    display: flex;
}

#side-menu ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* Estilização do menu */
#side-menu a{
    color: #f8f9fa;
    text-shadow: 2px 2px 4px #222;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.3rem;
    border-radius: 5px;
    transition: background 1s ease-in-out, color 1s ease;
    display: inline-block;    
}

#side-menu a:hover {
    border-radius: 5px;        
}

/* Estilização específica de cada item do menu  */
#side-menu a.home:hover {
    background-color: #b6ebff;
    color: #000;
    text-shadow: 2px 2px 4px #ffffff;
}
#side-menu a.html:hover {
    background-color: rgb(0, 0, 0, 0.15);
}
#side-menu a.css:hover {
    background-color: #1572b6;
}
#side-menu a.js:hover {
    background-color: #f7df1e;
    color: #000;
    text-shadow: 2px 2px 4px #ffffff;
}
#side-menu a.ts:hover {
    background-color: #3178c6;
}
#side-menu a.about:hover {
    background-color: #bdbdbd;
    color: #000;
    text-shadow: 2px 2px 4px #ffffff;
}

header h1 {
    font-family: 'carter';
    text-align: center;    
    color: #f8f9fa;
    text-shadow: 5px 8px 10px rgb(0, 0, 0, 0.6);
}

#codeTrail {
    font-family: 'Audiowide';
    /* Degradê no fundo que depois é passado para o texto e deixa o fundo transparente */
    background: linear-gradient(90deg, #007bff, #00ff88, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

main {
    background-color: #fffff0;
    color: #333;
}

main h2 {
    text-align: center;    
}

main h3 {
    margin: 1rem 0;
}

p {
    text-indent: 2rem;
    line-height: 1.6rem;
}

/* Exemplo de animação
.zoomOut { animation-name: zoomOut }
@keyframes zoomOut {
    to {
        transform: scale(10);
        opacity: 0;
    }
}*/ 