@charset 'UTF-8';
@media (min-width: 1199px) {
    
  body {
    overflow-x: hidden;
  }
  
  header {
    padding: 2rem;
    border-bottom: 3px solid #222;
  }
  
  #codeTrail {
    font-size: 2rem;
  }

  header h1 {
    font-size: 4rem;
  }

  main h1 {
    font-size: 3rem;
    padding-bottom: 5rem;
  }

  main article {
    margin: 1rem 0;
  }

  main h2 {
    font-size: 2.3rem;
  }

  main h3 {
    font-size: 2rem;
  } 

  main p {
    font-size: 1.2rem;
    text-indent: 5rem;
    line-height: 2rem;
  }

  .context {
    /* Centraliza o main e deixa a página responsiva com a largura por porcentagem. */
    width: 65%; 
    padding: 3rem;
    margin: 0 auto;
  }

  .area {
    background: radial-gradient(circle, #e34f26, #de4d25, #b53f1e, #943115, #722510);
    width: 100vw;
    min-height: 100vh;
  }  
}