/* Estilos do botão hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-toggle .bar {
    height: 4px;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 4px;
    transition: all 0.8s ease;
}

/* Animação quando ativo */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}
.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

/* Navegação como menu lateral */
#side-menu {
    display: flex;
    flex-direction: column;    
}

@media (max-width: 767px) {
    nav#side-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(10, 10, 10), rgb(15, 15, 15), rgb(15, 15, 15), rgba(15, 15, 15, 0.845));
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
    }

    nav#side-menu.active {
        transform: translateX(0);
    }

    nav#side-menu ul {
        list-style: none;
        flex-direction: column;
    }

    nav#side-menu ul li {
        text-decoration: none;
        
    }

    #side-menu a {
        display: block;
        padding: 0.7rem;
        font-size: 1.5rem;
        font-weight: 600;        
        border-radius: 50px;
        box-shadow: inset -25px 0px 20px 2px #000000;
        text-decoration: none;
      }

    .menu-toggle {
        display: flex;
    }
}

.home {
    background: linear-gradient(to right, rgb(182, 235, 255), rgb(182, 235, 255), rgb(182, 235, 255), rgba(182, 235, 255, 0.6), rgba(182, 235, 255, 0.3), transparent, transparent);
    color: #222;
    border: 10px solid #000;
}
.html {
    background: linear-gradient(to right, rgb(227, 79, 38), rgb(227, 79, 38, 0.8),rgb(227, 79, 38, 0.6),rgb(227, 79, 38, 0.4),rgb(227, 79, 38, 0.2), transparent, transparent);
    color: #f8f9fa;
    border: 10px solid #000;
}
.css { 
    background: linear-gradient(to right, rgb(21, 114, 182), rgb(21, 114, 182), rgb(21, 114, 182, 0.7), rgb(21, 114, 182, 0.5), rgb(21, 114, 182, 0.2), transparent, transparent);
    color: #f8f9fa;
    border: 10px solid #000;
}
.js { 
    background: linear-gradient(to right, rgb(247, 223, 30), rgb(247, 223, 30), rgb(247, 223, 30, 0.7), rgb(247, 223, 30, 0.5), rgb(247, 223, 30, 0.2), transparent, transparent);
    color: #222;
    border: 10px solid #000;
}
.ts {
    background: linear-gradient(to right, rgb(49, 120, 198), rgb(49, 120, 198), rgb(49, 120, 198), rgb(49, 120, 198, 0.5), rgb(49, 120, 198, 0.2), transparent, transparent); 
    color: #f8f9fa;
    border: 10px solid #000;
}
.about { 
    background: linear-gradient(to right, rgb(189, 189, 189), rgb(189, 189, 189), rgb(189, 189, 189, 0.7), rgb(189, 189, 189, 0.5), rgb(189, 189, 189, 0.2), transparent, transparent);
    color: #222;
    border: 10px solid #000;
}