@charset 'UTF-8';
@media (min-width: 1px) and (max-width: 480px) {

  body {
    padding: 1rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    background: #000 url(../../img/html/background/background-mobile.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  header {
    position: relative;
    z-index: 3;
  }

  #codeTrail {
    font-size: 1.8rem;
  }

  header h1 {
    font-size: 9rem;
    margin: 2rem 0;
  }

  .context {
    width: 100%;
    padding: 0 2rem;
    /* Dispaly Grid para dividir a viewport em uma fração, ou seja, deixar um card por linha */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .card {
    height: 8rem;
    font-size: 2.2rem;
  }

  .circles {
    display: none;
  }
}