@charset 'UTF-8';
@media (min-width: 481px) and (max-width:767px) {
    body{
        padding-bottom: 2rem;
        /* overflow-x: hidden; ajuda a não ter a barra de rolagem lateral */
        overflow-x: hidden;
        background: #000 url(../../img/html/background/background-tablet.webp) no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    } 
    
    .logo {        
    }

    header{    
    }

    main {
        width: 100%;
        margin: 0 auto;
        padding: 0 6rem;
        /* Dispaly Grid para dividir a viewport em uma fração, ou seja, deixar um card por linha */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .circles {
        display: none;
    }

}