@font-face {
  font-family: membra;
  src: url(../font/membra/membra.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: techno;
  src: url(../font/techno_board/TechnoBoard.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: circ1;
  src: url(../font/circuit_board/circuit_board.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: circ2;
  src: url(../font/circuitboard/Circuitboard.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: ivory;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }

  .title {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /*font-family: 'Orbitron';
    font-size: 10rem;
    font-weight: normal;
    background: linear-gradient(90deg, #594c00, #ffd343, #413700);
    /*background: linear-gradient(90deg, #FFD700, #D4AF37, #FFD700);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 215, 0, 0.8), 0 0 5px rgba(255, 223, 70, 0.5);*/
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Cores diferentes por tecnologia */
  .card.html { background-color: #e34c26; }
  .card.css { background-color: #264de4; }
  .card.js { background-color: #f0db4f; color: #323330; }
  .card.ts { background-color: #3178c6; }  