@charset 'UTF-8';
@media (min-width: 1200px) {

    .circles{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }

    .square{
        position: absolute;
        display: block;
        background: rgba(0, 0, 0, 0.4);
        width: 20px;
        height: 20px;
        list-style: none;
        border-radius: 10%;
    }

    .square:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .square:nth-child(2){
        left: 10%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    .square:nth-child(3){
        left: 70%;
        width: 40px;
        height: 40px;
        animation-delay: 4s;
    }
    .square:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    .square:nth-child(5){
        left: 65%;
        width: 45px;
        height: 45px;
        animation-delay: 0s;
    }
    .square:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    .square:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    .square:nth-child(8){
        left: 50%;
        width: 45px;
        height: 45px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    .square:nth-child(9){
        left: 20%;
        width: 35px;
        height: 35px;
        animation-delay: 2s;
        animation-duration: 25s;
    }
    .square:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    .square:nth-child(11){
        left: 5%;
        width: 100px;
        height: 100px;
        animation-delay: 6s;
    }
    .square:nth-child(12){
        left: 65%;
        width: 70px;
        height: 70px;
        animation-delay: 2s;
        animation-duration: 11s;
    }
    .square:nth-child(13){
        left: 50%;
        width: 80px;
        height: 80px;
        animation-delay: 2s;
        animation-duration: 8s;
    }
    .square:nth-child(14){
        left: 30%;
        width: 100px;
        height: 100px;
        animation-delay: 2s;
        animation-duration: 9s;
    }
    .square:nth-child(15){
        left: 85%;
        width: 80px;
        height: 80px;
        animation-delay: 4s;
    }
    .square:nth-child(16){
        left: 85%;
        width: 50px;
        height: 50px;
        animation-delay: 15s;
        animation-duration: 35s;
    }
    .square:nth-child(17){
        left: 15%;
        width: 70px;
        height: 70px;
        animation-delay: 12s;
        animation-duration: 30s;
    }
    .square:nth-child(18){
        left: 5%;
        width: 110px;
        height: 110px;
        animation-delay: 1s;
        animation-duration: 10s;
    }
    .square:nth-child(19){
        left: 3%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
        animation-duration: 16s;
    }
    .square:nth-child(20){
        left: 90%;
        width: 40px;
        height: 40px;
        animation-delay: 8s;
    }

    .square{
        bottom: -150px;
        animation: animate 25s linear infinite;
    }

    @keyframes animate {
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
}