#btnTopo {
    position: fixed;
    right: 13%;
    bottom: 1.5rem;
    z-index: 99;
    background-color: rgb(51, 51, 51, 0.6);
    border: none;
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 5px solid rgb(51, 51, 51, 0.2);
}

#btnTopo:hover {
    background: linear-gradient(120deg, rgb(17, 17, 17, 0.3), rgb(248, 249, 250, 0.2));
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    transform: scale(1.1);
    border: 5px solid #f8f9fa;
}

span#top {
    color: #f8f9fa;
    font-size: 2.2rem;
}

/* Personalização do botão */
@media (min-width: 1px) and (max-width: 531px) {
    #btnTopo {
        right: 2%;
        bottom: 1.5rem;
    }
    span#top {
        color: #f8f9fa;
        font-size: 1.5rem;
    }
}

@media (min-width: 531px) and (max-width:767px) {
    #btnTopo {
        right: 3%;
        bottom: 1.5rem;
    }
    span#top {
        color: #f8f9fa;
        font-size: 1.7rem;
    }
}

@media (min-width: 767px)and (max-width:1199px) {
    #btnTopo {
        right: 10%;
        bottom: 1.5rem;
    }
    span#top {
        color: #f8f9fa;
        font-size: 2rem;
    }
}