#btnTopo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: 5px solid rgb(51, 51, 51, 0.2);
}

#btnTopo.hover-ativo:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%) scale(1.15);
}

span#top {
    color: #f8f9fa;
    font-size: 2.2rem;
}

/* Personalização do botão */
@media (min-width: 1px) and (max-width:768px) {
    #btnTopo {
        bottom: 1.5rem;
    }
    span#top {
        color: #f8f9fa;
        font-size: 1.7rem;
    }
}

@media (min-width: 768px)and (max-width:1199px) {
    #btnTopo {
        bottom: 1.5rem;
    }
    span#top {
        color: #f8f9fa;
        font-size: 2rem;
    }
}