@charset 'UTF-8';

@font-face {
  font-family: 'Inter';
  src: url(../../font/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Orbitron';
  src: url(../../font/Orbitron-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src: url(../../font/Audiowide-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LuxuriousScript';
  src: url(../../font/LuxuriousScript-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;   
}

header {
  position: relative;
  z-index: 3;
  border-bottom: 3px solid #222;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;    
  color: #f8f9fa;
  text-shadow: 5px 8px 10px rgb(0, 0, 0, 0.6);
}

#codeTrail {
  font-family: 'Audiowide';
  /* Degradê no fundo que depois é passado para o texto e deixa o fundo transparente */
  background: linear-gradient(90deg, #007bff, #00ff88, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0 20px 25px #0000009e;
}

main {
  background-color: #fffff0;
  color: #333;
}

main h1 {
  text-align: center; 
  color: #015fad; 
  text-shadow: 1px 2px 5px #666;  
}

main h2 {
  color: #015ec2;
  text-shadow: 1px 2px 5px #666; 
}

main p {
  line-height: 1.5rem;
  text-indent: 2rem;
  margin: 0.5rem 0;
}

#pilares {
  list-style: none;
}

#pilares li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #007bff;
  transform: rotate(45deg);
  margin-right: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#pilares li {
  margin: 1rem 0;
}

#slogan {
  text-align: center;
}

#autor {
  font-family: 'LuxuriousScript', cursive;
  text-align: right;
}

/* Animação de flutuação */
#codeTrail {    
  transform: translateY(0);
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30px);
  }
  100% {
      transform: translateY(0);
  }
}